@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colors */
  --white: #ffffff;
  --main-color: #5e0051;
  --secondary-color: #ad1aaf;
  --link-color: #96839b;
  --line-color: rgba(167, 167, 167, 0.4);

  /* Fonts */
  --font_1: "Montserrat", sans-serif;
  --font_2: "El Messiri", sans-serif;

  /* font-size: 16px; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font_1);
  margin: auto;
  padding: 0;
  color: var(--white);
  background-image: url(images/Shihami\ Landing\ Page.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* max-width: 1440px; */
  max-width: 1920px;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--white);
}

.btn_1 {
  display: inline-block;
  padding: 0.8rem 2rem;
  background: var(--secondary-color);
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
  cursor: pointer;
  border: none;
}

.btn_1:hover {
  background: var(--main-color);
}

.btn_2 {
  display: inline-block;
  padding: 0.8rem 2.5rem;
  background: transparent;
  border: 0.06rem solid var(--secondary-color);
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn_2:hover {
  background: var(--main-color);
}

.btn_3 {
  display: inline-block;
  padding: 0.6rem 1.8rem;
  border-radius: 3rem;
  background: transparent;
  border: 0.06rem solid var(--secondary-color);
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn_3:hover {
  background: var(--main-color);
}

section {
  width: 100%;
  padding: 3rem 4%;
}

section .headings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}

section .headings p {
  font-size: 1.3rem;
  background: linear-gradient(92deg, #ffffff 0%, #f81dfb 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: capitalize;
}

section .headings h1 {
  font-family: var(--font_2);
  font-weight: 500;
  font-size: 4.8rem;
  letter-spacing: 0rem;
  text-transform: capitalize;
}

hr {
  height: 0.16rem;
  border: none;
  background-color: var(--line-color);
}

.mobile {
  display: none;
}

.main-content {
  transition: filter 0.3s ease;
}

.main-content.blur {
  filter: blur(0.3rem);
}

/* :::::::::: LOADER :::::::::: */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(31, 30, 30, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 0.4rem solid rgba(0, 0, 0, 0.1);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-left-color: var(--secondary-color);
  animation: rotate 1s ease infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* :::::::::: HEADER :::::::::: */
header {
  color: white;
  margin: 0 auto;
  padding: 1rem 4%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  /* max-width: 1440px; */
  max-width: 1920px;
}

.header_scroll {
  background: linear-gradient(
    142deg,
    rgba(255, 255, 255, 0.1) -1%,
    rgba(255, 255, 255, 0.05) 101%
  );
  backdrop-filter: blur(2.24rem);
}

header .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navbar .logo span {
  color: var(--secondary-color);
}

header .navbar .logo a {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--white);
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 1.75rem 3rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 4%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(2.6rem);
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  position: relative;
  color: var(--white);
  text-decoration: none;
}

header nav li a::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background: var(--secondary-color);
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  transition: width 0.2s ease, left 0.2s ease;
}

header nav li a:hover::after {
  width: 100%;
  left: 0;
}

header .nav_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header .profile_img {
  background: var(--white);
  border-radius: 50%;
}

header .profile_container:hover .profile_dropdown,
header .profile_container:hover .profile_dropdown:hover {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

header .profile_img img {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
}

header .profile_dropdown {
  display: block;
  position: absolute;
  top: 6rem;
  right: 2rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  /* background: linear-gradient(
    120deg,
    var(--secondary-color) -80%,
    rgba(207, 175, 175, 0.05) 100%
  ); */
  backdrop-filter: blur(2.6rem);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

header .profile_dropdown ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header .profile_dropdown ul li {
  display: flex;
  align-items: center;
  /* padding: 0.5rem 1rem; */
}

header .profile_dropdown ul li a {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  width: 100%;
  padding: 1rem 1.4rem;
}

header .profile_dropdown ul li a:hover {
  background: var(--link-color);
}

/* :::::::::: HERO :::::::::: */
#hero {
  padding-top: 10rem;
  height: auto;
}

#hero .hero_content {
  display: flex;
  gap: 6rem;
}

#hero .hero_item {
  width: 50%;
}

#hero .hero_cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
}

#hero .hero_cta h1 {
  font-family: var(--font_2);
  font-size: 4rem;
  line-height: 5rem;
}

#hero .hero_cta p {
  font-size: 1.5rem;
}

#hero .hero_cta span {
  color: var(--secondary-color);
}

.cta_btn {
  display: flex;
  gap: 1.5rem;
}

#hero .nft_cards {
  position: relative;
  width: 100%;
  height: 33rem;
}

#hero .nft_cards .nft {
  position: absolute;
  width: 16rem;
  height: 20rem;
  padding: 1rem 0.8rem;
  border-radius: 3rem;
  opacity: 1;
  background: linear-gradient(
    142deg,
    rgba(255, 255, 255, 0.1) -1%,
    rgba(255, 255, 255, 0.05) 101%
  );
  box-sizing: border-box;
  border-width: 0.16rem 0rem 0.16rem 0rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2.24rem);
  text-align: center;
  transition: transform 0.5s ease, z-index 0s;
}

#hero .nft_cards .nft:hover {
  z-index: 1;
  transform: scale(1.1);
  transition: transform 0.5s ease, z-index 0s;
}

#hero .nft_cards .nft img {
  width: 13.97rem;
  height: 13.5rem;
}

#hero .nft_cards .nft p {
  margin: 1rem;
}

#nft_1 {
  left: 32%;
  top: 0rem;
  z-index: 1;
}

#nft_2 {
  left: 0;
  top: 20%;
}

#nft_3 {
  right: 0;
  bottom: 0rem;
}

.milky_way {
  width: 100%;
  max-width: 1920px;
  height: 12rem;
}

.milky_way_img {
  width: 100%;
  height: 12rem;
}

/* :::::::::: WALLETS :::::::::: */
#wallets .headings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}

#wallets .wallet_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#wallets .wallet_cards .wallet {
  /* width: 17rem;
  height: 20.75rem; */
  flex: 1;
  border-radius: 0.94rem;
  opacity: 1;
  background: linear-gradient(
    141deg,
    rgba(255, 255, 255, 0.1) -1%,
    rgba(255, 255, 255, 0.05) 100%
  );
  backdrop-filter: blur(1.25rem);
  padding: 1.8rem;
  text-align: center;
}

#wallets .wallet img {
  width: 10rem;
  height: 10rem;
}

#wallets .wallet p {
  margin-top: 1.8rem;
  font-size: 1.25rem;
}

/* :::::::::: HOW IT WORKS :::::::::: */
#how_it_works {
  padding: 4rem 4%;
}

#how_it_works h1 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

#how_it_works .work_dir {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#how_it_works .work_dir div {
  text-align: center;
}

#how_it_works .work_dir p {
  margin-top: 1rem;
}

/* :::::::::: COLLECTION :::::::::: */
#collection {
  padding: 4rem 6rem 10%;
}

#wrapper {
  margin: auto;
}

#wrapper {
  perspective: 156.25rem;
  -webkit-perspective: 156.25rem;
  width: 60rem;
  height: 18.75rem;
  margin: 6.25rem auto 10rem auto;
  perspective-origin: 50% 9.375rem;
  -webkit-perspective-origin: 50% 9.375rem;
  transition: perspective 1s;
  -o-transition: -o-perspective 1s;
  -moz-transition: -moz-perspective 1s;
  -webkit-transition: -webkit-perspective 1s;
}

#image:hover {
  animation-play-state: paused;
  -o-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@-webkit-keyframes spin {
  from {
    transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
  }
}

#image {
  margin: 0 auto;
  width: 25rem;
  height: 18.75rem;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: spin 24s infinite linear;
  -moz-animation: spin 24s infinite linear;
  -o-animation: spin 24s infinite linear;
  -webkit-animation: spin 24s infinite linear;
}

.image {
  position: absolute;
  width: 20.2rem;
  height: 28rem;
  border-radius: 0.94rem;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 0.94rem;
}

#image > .i1 {
  transform: translateZ(30.3125rem);
  -moz-transform: translateZ(30.3125rem);
  -o-transform: translateZ(30.3125rem);
  -ms-transform: translateZ(30.3125rem);
  -webkit-transform: translateZ(30.3125rem);
}

#image > .i2 {
  transform: rotateY(40deg) translateZ(30.3125rem);
  -moz-transform: rotateY(40deg) translateZ(30.3125rem);
  -o-transform: rotateY(40deg) translateZ(30.3125rem);
  -ms-transform: rotateY(40deg) translateZ(30.3125rem);
  -webkit-transform: rotateY(40deg) translateZ(30.3125rem);
}

#image > .i3 {
  transform: rotateY(80deg) translateZ(30.3125rem);
  -moz-transform: rotateY(80deg) translateZ(30.3125rem);
  -o-transform: rotateY(80deg) translateZ(30.3125rem);
  -ms-transform: rotateY(80deg) translateZ(30.3125rem);
  -webkit-transform: rotateY(80deg) translateZ(30.3125rem);
}

#image > .i4 {
  transform: rotateY(120deg) translateZ(30.3125rem);
  -moz-transform: rotateY(120deg) translateZ(30.3125rem);
  -o-transform: rotateY(120deg) translateZ(30.3125rem);
  -ms-transform: rotateY(120deg) translateZ(30.3125rem);
  -webkit-transform: rotateY(120deg) translateZ(30.3125rem);
}

#image > .i5 {
  transform: rotateY(160deg) translateZ(30.3125rem);
  -moz-transform: rotateY(160deg) translateZ(30.3125rem);
  -o-transform: rotateY(160deg) translateZ(30.3125rem);
  -ms-transform: rotateY(160deg) translateZ(30.3125rem);
  -webkit-transform: rotateY(160deg) translateZ(30.3125rem);
}

#image > .i6 {
  transform: rotateY(200deg) translateZ(30.3125rem);
  -moz-transform: rotateY(200deg) translateZ(30.3125rem);
  -o-transform: rotateY(200deg) translateZ(30.3125rem);
  -ms-transform: rotateY(200deg) translateZ(30.3125rem);
  -webkit-transform: rotateY(200deg) translateZ(30.3125rem);
}

#image > .i7 {
  transform: rotateY(240deg) translateZ(30.3125rem);
  -moz-transform: rotateY(240deg) translateZ(30.3125rem);
  -o-transform: rotateY(240deg) translateZ(30.3125rem);
  -ms-transform: rotateY(240deg) translateZ(30.3125rem);
  -webkit-transform: rotateY(240deg) translateZ(30.3125rem);
}

#image > .i8 {
  transform: rotateY(280deg) translateZ(30.3125rem);
  -moz-transform: rotateY(280deg) translateZ(30.3125rem);
  -o-transform: rotateY(280deg) translateZ(30.3125rem);
  -ms-transform: rotateY(280deg) translateZ(30.3125rem);
  -webkit-transform: rotateY(280deg) translateZ(30.3125rem);
}

#image > .i9 {
  transform: rotateY(320deg) translateZ(30.3125rem);
  -moz-transform: rotateY(320deg) translateZ(30.3125rem);
  -o-transform: rotateY(320deg) translateZ(30.3125rem);
  -ms-transform: rotateY(320deg) translateZ(30.3125rem);
  -webkit-transform: rotateY(320deg) translateZ(30.3125rem);
}

/* :::::::::: HOT TRENDING :::::::::: */
.section_cards .section_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.section_cards .section_top .headings {
  margin-bottom: 0;
  align-items: flex-start;
}

.section_cards .section_top .headings h1 {
  line-height: 4rem;
}

.section_cards .section_top button {
  display: flex;
  align-self: flex-end;
  /* margin-bottom: 2rem; */
}

.section_cards .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  box-sizing: border-box;
  align-items: center;
}

.section_cards .cards .card {
  flex: 1 1 calc(20%);
  /* width: calc(25% - 1rem); */
  padding: 0.75rem;
  border-radius: 0.94rem;
  opacity: 1;
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 0.1) -2%,
    rgba(255, 255, 255, 0.05) 99%
  );
  backdrop-filter: blur(1.25rem);
  text-align: center;
}

.section_cards .cards .card .top_content {
  position: relative;
  width: 100%;
  height: 50%;
  border-radius: 0.6rem;
}

.section_cards .cards .card .nft_img {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
}

.section_cards .cards .card .top_content .favorite {
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  height: 3.06rem;
  display: flex;
  gap: 0.6rem;
  padding: 0.94rem 1.25rem;
  border-radius: 0rem 0.6rem 0rem 0.6rem;
  opacity: 1;
  background: linear-gradient(
    117deg,
    rgba(27, 25, 25, 0.1) 0%,
    rgba(19, 17, 17, 0.05) 100%
  );
  backdrop-filter: blur(1.25rem);
  cursor: pointer;
}

.section_cards .cards .card .top_content .favorite .favorite_svg:hover {
  fill: var();
}

.section_cards .cards .card .user_details {
  display: flex;
  align-items: center;
  text-align: start;
  gap: 1rem;
  margin: 1.6rem 0.6rem;
}

.section_cards .cards .user_details .profile_img {
  background: var(--white);
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
}

.section_cards .cards .user_details .profile_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.section_cards .cards .card .price_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.6rem;
}

.section_cards .cards .card .price_details .on_sale {
  align-self: start;
}

.section_cards .cards .card .price_details .on_sale svg {
  width: 1rem;
  height: 1rem;
}

.section_cards .cards .card .price_details .on_sale span {
  font-size: 1.2rem;
  margin-right: 0.4rem;
}

.section_cards .cards .card .price {
  display: flex;
  flex-direction: column;
}

.section_cards .cards .card .price_details .price p {
  font-size: 1.2rem;
  text-align: end;
  gap: 0.5rem;
}

.section_cards .cards .card .price_details .price span {
  font-size: 0.9rem;
  align-content: center;
  /* display: block; */
}

.section_cards .cards .card .price_details .price p svg {
  align-self: center;
  padding-top: 0.1rem;
}

.section_cards .cards .card .buy_btn {
  width: calc(100% - 1.3rem);
  margin: 1.6rem 0 0.6rem;
  font-size: 1.2rem;
}

/* :::::::::: INFLUENCERS :::::::::: */
#influencers .cards .infl_card {
  flex: 1 1 calc(20%);
  /* width: calc(25% - 1rem); */
  padding: 1.6rem 1.2rem;
  border-radius: 1rem;
  opacity: 1;
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 0.1) -2%,
    rgba(255, 255, 255, 0.05) 99%
  );
  backdrop-filter: blur(1.25rem);
}

#influencers .cards .infl_content {
  position: relative;
}

#influencers .cards .infl_nft {
  display: flex;
  gap: 0.6rem;
}

#influencers .cards .infl_nft img:nth-child(1) {
  width: calc(60% - 0.3rem);
}

#influencers .cards .infl_nft img:nth-child(2) {
  width: calc(40% - 0.3rem);
}

#influencers .cards .infl_img {
  width: 4.4rem;
  padding: 0.1rem;
  background: var(--white);
  border: solid 0.2rem black;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: 8%;
}

#influencers .cards .infl_img img {
  width: 100%;
  border-radius: 50%;
}

#influencers .cards .infl_details {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

#influencers .cards .infl_profile {
  display: flex;
  gap: 0.4rem;
}

#influencers .cards .infl_profile p {
  font-size: 1.1rem;
}

/* :::::::::: SUBSCRIBE :::::::::: */
#subscribe {
  padding: 8rem;
  background: url(images/pic.png);
}

#subscribe .subscribe_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#subscribe .subscribe_content p {
  font-size: 2.4rem;
}

#subscribe form {
  width: 24.5rem;
  height: 4rem;
  border-radius: 0.44rem;
  padding: 0.4rem 0.3rem;
  box-sizing: border-box;
  border: 0.06rem solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#subscribe form input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 0.4rem;
  color: var(--white);
  font-size: 1rem;
}

/* #subscribe form input[type="email"] {
  background: transparent;
  color: var(--white);
} */

#subscribe form input:focus-visible {
  border: none;
  outline: none;
}

#subscribe form button {
  padding: 0.5rem;
  background: var(--secondary-color);
  border-radius: 0.44rem;
  border: none;
}

/* :::::::::: USER PROFILE :::::::::: */
#user {
  margin-top: 6.7rem;
  position: relative;
}

#user .top_header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: url(images/user_banner.png);
  background-size: cover;
  background-position: center;
  height: 20rem;
  padding: 0 4% 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#user .top_header div {
  flex: 1;
}

#user .top_header .user_profile {
  position: absolute;
  bottom: -7.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.4rem;
}

#user .user_profile .user_img {
  width: 9.3rem;
  height: 9.3rem;
  background: var(--white);
  border-radius: 50%;
}

#user .user_profile .user_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#user .top_header .upload_pic {
  text-align: end;
}

#user .user_info {
  margin-top: 26rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#user .user_info .header {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  font-size: 1.6rem;
}

#user .user_info .header hr {
  height: 0.16rem;
  border: none;
  background-color: var(--line-color);
}

#user .user_info form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.4rem;
}

#user form .form_group {
  display: flex;
  gap: 4.2rem;
}

#user form .form_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

#user form .form_info label {
  width: fit-content;
}

#user form .form_info input {
  background: transparent;
  border: 1px solid var(--line-color);
  outline: none;
  height: 4rem;
  border-radius: 0.8rem;
  color: var(--white);
  padding: 1rem;
  font-size: 1.2rem;
}

#user form .form_info textarea {
  background: transparent;
  border: 1px solid var(--line-color);
  outline: none;
  border-radius: 0.8rem;
  color: var(--white);
  padding: 1.2rem;
  font-size: 1.4rem;
  resize: none;
}

#user form button {
  align-self: flex-end;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.modal_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(
    141deg,
    rgba(255, 255, 255, 0.1) -1%,
    rgba(255, 255, 255, 0.05) 100%
  );
  backdrop-filter: blur(1.25rem);
  padding: 1.25rem;
  border-radius: 0.3rem;
  text-align: center;
  width: 18rem;
  animation: fadeIn 0.5s ease-in-out;
  color: var(--white);
  font-size: 1.4rem;
}

.modal_content span {
  margin-left: 2rem;
}

.close_button {
  color: #aaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close_button:hover,
.close_button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal.show {
  display: flex;
  opacity: 1;
}

/* :::::::::: PRIVACY AND SUPOORT :::::::::: */
#privacy {
  padding-top: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#privacy img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 25rem;
}

#privacy .content {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

#privacy .content h4 {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0px;
}

#privacy .content p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2.19rem;
  letter-spacing: 0px;
  color: #b9b9b9;
}

#privacy .content hr {
  margin-top: 2rem;
}

/* :::::::::: CREATE NFT :::::::::: */
#create {
  position: relative;
  padding-top: 8rem;
}

#create .img_container {
  width: 100%;
  height: 24rem;
  padding: 0.94rem 1.5rem;
  border-radius: 0.94rem;
  opacity: 1;
  background: linear-gradient(
    106deg,
    rgba(255, 255, 255, 0.1) -2%,
    rgba(255, 255, 255, 0.05) 100%
  );
  backdrop-filter: blur(1.25rem);
}

#create .img_container .img_upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0.94rem;
  opacity: 1;
  border: 0.16rem dashed #999393;
  backdrop-filter: blur(1.25rem);
}

#create .img_container .img_upload .img_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.6rem;
}

#create .img_upload .img_content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

#create .img_upload .img_content label {
  width: fit-content;
  font-size: 1.3rem;
  color: blue;
  text-decoration: underline;
}

#create form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.4rem;
  margin-top: 4rem;
}

#create form .form_group {
  display: flex;
  gap: 4.2rem;
}

#create form .form_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

#create form .form_info label {
  width: fit-content;
}

#create form .form_info input {
  background: transparent;
  border: 1px solid var(--line-color);
  outline: none;
  height: 4rem;
  border-radius: 0.8rem;
  color: var(--white);
  padding: 1rem;
  font-size: 1.2rem;
}

#create form .form_info textarea {
  background: transparent;
  border: 1px solid var(--line-color);
  outline: none;
  border-radius: 0.8rem;
  color: var(--white);
  padding: 1.2rem;
  font-size: 1.4rem;
  resize: none;
}

#create form button {
  align-self: flex-end;
}

/* #create .nft_container {

} */

#cardContainer {
  display: none;
  flex-direction: column-reverse;
  gap: 2rem;
  align-items: center;
  justify-content: center;       
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 5rem;
  z-index: 999;
  height: 100vh;
  background: #494343;
  transition: transform 0.5s ease, z-index 0s;
}

#cardContainer .card {
  /* width: 16rem; */
  width: 280px;
  height: 400px;
  padding: 1.2rem;
  border-radius: 3rem;
  opacity: 1;
  background: linear-gradient(
    142deg,
    rgba(233, 14, 178, 0.1) -1%,
    rgba(255, 255, 255, 0.05) 101%
  );
  box-sizing: border-box;
  border-width: 0.16rem 0rem 0.16rem 0rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2.24rem);
  transition: transform 0.5s ease, z-index 0s;
  justify-self: center;

  
  /* border: 1px solid #333;
  padding: 20px;
  margin-top: 20px;
  background-color: #dd20b4; */
}

#cardContainer .card img {
  border-radius: 2rem;
  max-width: 100%;
  height: 50%;
  margin-bottom: 15px;
}

/* #cardContainer .card img:hover {
  scale: 0.1rem;
} */

#cardContainer .card h3,
#cardContainer .card p {
  margin: 10px 0;
}

/* :::::::::: FOOTER :::::::::: */
footer {
  background: linear-gradient(
    105deg,
    rgba(255, 255, 255, 0.01) -2%,
    rgba(255, 255, 255, 0.005) 100%
  );
  backdrop-filter: blur(1.25rem);
  color: white;
  padding: 4rem 12% 2rem 12%;
  width: 100%;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.8rem;
}

footer .footer-content .logo h3 {
  font-size: 2rem;
}

footer .footer-content .logo span {
  color: var(--secondary-color);
}

footer .footer-content .footer_socials {
  width: calc(100% / 3);
}

footer .footer-content .footer_socials p {
  font-size: 1.22rem;
  line-height: 2.4rem;
  margin-bottom: 2.8rem;
  color: var(--link-color);
}

footer .footer_socials .social_media {
  display: flex;
  gap: 2rem;
}

footer .footer_links {
  display: flex;
  gap: 4rem;
}

footer .footer_links .footer_link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .footer_links .footer_link > p {
  font-size: 1.4rem;
}

footer .footer_links .footer_link a {
  font-size: 1.2rem;
  color: var(--link-color);
}

footer .copyright {
  text-align: center;
  margin-top: 6rem;
  color: var(--link-color);
}

@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }

  #how_it_works .work_dir .icon svg {
    width: 7.6rem;
    height: 7.6rem;
  }

  #how_it_works .work_dir .line svg {
    width: 7rem;
    height: 6rem;
  }

  /* #hero {
    height: 100vh;
  } */
}

@media (max-width: 1280px) {
  html {
    font-size: 14px;
  }

  /* #hero {
    height: 100vh;
  } */
}

@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  /* #hero {
    height: 100vh;
  } */

  /* .large_screen {
    display: none;
  } */

  header nav ul {
    padding: 1.5rem;
  }

  header nav ul li a {
    font-size: 0.9rem;
  }

  #wallets .wallet_cards .wallet {
    padding: 1.8rem;
    text-align: center;
  }

  #wallets .wallet img {
    width: 8rem;
    height: 8rem;
  }

  #wallets .wallet p {
    margin-top: 1.8rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .mobile {
    display: block;
  }

  .large_screen {
    display: none;
  }

  html {
    font-size: 14px;
  }

  section .headings {
    gap: 1rem;
  }

  section .headings p {
    font-size: 1rem;
  }

  section .headings h1 {
    font-size: 3.6rem;
  }

  header {
    width: 100%;
    max-width: 100vw;
    position: fixed;
    z-index: 1000;
  }

  header .navbar {
    width: 100%;
    position: relative;
  }

  header nav {
    display: block;
    position: absolute;
    justify-self: center;
    width: 100dvw;
    top: 4.6rem;
    left: -2rem;
    right: -2rem;
    background: linear-gradient(
      120deg,
      var(--secondary-color) -80%,
      rgba(255, 255, 255, 0.05) 100%
    );
    /* background: linear-gradient(
      175deg,
      rgba(255, 255, 255, 0.1) -1%,
      rgba(255, 255, 255, 0.05) 100%
    ); */
    backdrop-filter: blur(2.24rem);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  header nav ul {
    flex-direction: column;
    margin: 0;
    padding: 1.75rem 3rem;
  }

  header nav ul li {
    margin: 2rem 0;
  }

  header nav ul li a {
    z-index: 1001;
    color: white;
    font-size: 1.4rem;
  }

  #header .user_profile {
    background: var(--main-color);
    padding: 1rem;
    width: 100%;
    text-align: center;
  }

  /* .menu_toggle {
    display:grid;
    place-items:center;
    height:100%;
    background:#4C23E8;
    margin:0;
    padding:0;
  } */

  label {
    display: flex;
    flex-direction: column;
    width: 3.125rem;
    cursor: pointer;
    margin-left: 0.6rem;
  }

  label span {
    background: #fff;
    height: 0.3125rem;
    margin: 0.3125rem 0;
    transition: 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  span:nth-of-type(1) {
    width: 1.5625rem;
  }

  span:nth-of-type(2) {
    width: 3.125rem;
  }

  span:nth-of-type(3) {
    width: 2.34375rem;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotate(45deg) translate(0.38rem, 0);
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotate(-45deg);
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 1.5625rem;
    transform: translate(1.39rem, -0.53rem) rotate(45deg);
  }

  #hero {
    padding-top: 10rem;
    height: auto;
  }

  #hero .hero_content {
    flex-wrap: wrap;
  }

  #hero .hero_item {
    width: 100%;
  }

  #hero .hero_cta {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #hero .hero_cta .cta_btn button {
    font-size: 1.4rem;
  }

  #hero .nft_cards {
    width: 70%;
    height: 33rem;
    margin: auto;
  }

  #wallets .wallet_cards {
    gap: 1.4rem;
  }

  #wallets .wallet_cards .wallet {
    padding: 1.4rem;
    text-align: center;
  }

  #wallets .wallet img {
    width: 6rem;
    height: 6rem;
  }

  #wallets .wallet p {
    margin-top: 1.2rem;
    font-size: 1rem;
  }

  #how_it_works {
    padding: 4rem 6%;
  }

  #how_it_works .work_dir .icon svg {
    width: 7.6rem;
    height: 7.6rem;
  }

  #how_it_works .work_dir .line svg {
    width: 6rem;
    height: 6rem;
  }

  #how_it_works .work_dir p {
    margin-top: 0.6rem;
  }

  #collection .collection_img {
    width: 100%;
    padding: 1rem;
  }

  #collection_mobile {
    margin: 0;
    padding: 4rem 0;
  }

  #collection_mobile .headings {
    padding: 0 4%;
  }

  .section_banner.movement-right {
    border-bottom-style: none;
    display: block;
    width: 100%;
  }

  .banner_component {
    width: 100vw;
    max-width: 100%;
    display: flex;
    overflow: hidden;
  }

  .banner_inner-wrapper {
    display: flex;
    width: 100%;
  }

  .banner_marquee {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    flex-shrink: 0;
    white-space: nowrap;
  }

  .banner_marquee.right {
    animation: scroll-right 30s linear infinite;
  }

  @keyframes scroll-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .marquee_item.padding-2-rem {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }

  .marquee_item {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .item-image {
    width: 20rem;
    height: auto;
  }

  .banner_marquee.right:hover {
    animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }

  .section_cards .cards {
    gap: 1rem;
  }

  .section_cards .cards .card {
    flex: 1 1 calc(20%);
  }

  .section_cards .cards .user_details .profile_img {
    background: var(--white);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }

  .section_cards .cards .card .user_details .user_profile h3 {
    font-size: 1rem;
  }

  .section_cards .cards .card .user_details .user_profile p {
    font-size: 0.8rem;
  }

  .section_cards .cards .card .price_details {
    margin: 0 0.4rem;
  }

  .section_cards .cards .card .price_details .on_sale span {
    font-size: 1rem;
  }

  .section_cards .cards .card .price_details .on_sale svg {
    width: 0.8rem;
    height: 0.8rem;
  }

  .section_cards .cards .card .price_details .price p {
    font-size: 1rem;
  }

  .section_cards .cards .card .price_details .price svg {
    width: 1rem;
  }

  .section_cards .cards .card .price_details .price p span {
    font-size: 0.6rem;
  }

  .section_cards .cards .card .buy_btn {
    width: calc(100% - 1rem);
    font-size: 1.2rem;
  }

  #subscribe form button {
    padding: 0.2rem;
  }

  #user {
    margin-top: 5.6rem;
  }

  #user .top_header {
    height: 14rem;
    padding: 0 4% 2rem;
  }

  #user .top_header .user_profile {
    gap: 1.6rem;
    font-size: 1.2rem;
  }

  #user .user_profile .user_img {
    width: 7rem;
    height: 7rem;
  }

  #user .user_info {
    margin-top: 24rem;
    gap: 2rem;
  }

  #user .user_info .header {
    gap: 3rem;
    font-size: 1.4rem;
  }

  #user .user_info form {
    gap: 3rem;
    font-size: 1.2rem;
    max-width: 100%;
  }

  #user form .form_group {
    display: flex;
    gap: 3rem;
  }

  #user form .form_info {
    gap: 1.6rem;
  }

  #user form .form_info input {
    font-size: 1rem;
  }

  #user form .form_info textarea {
    font-size: 1.2rem;
    resize: none;
  }

  #user form button {
    align-self: flex-end;
  }

  #privacy {
    padding-top: 8rem;
    gap: 4rem;
  }

  #privacy img {
    height: 20rem;
  }

  #privacy .content h4 {
    font-size: 1.6rem;
  }

  #privacy .content p {
    font-size: 1rem;
  }

  #privacy .content hr {
    margin-top: 1.6rem;
  }

  #create form {
    max-width: 100vw;
    box-sizing: border-box;
  }

  #create form .form_group {
    display: flex;
    gap: 3rem;
  }

  #create form .form_info {
    gap: 1.6rem;
  }

  #create form .form_info input {
    font-size: 1rem;
  }

  #create form .form_info textarea {
    font-size: 1.2rem;
    resize: none;
  }

  /* input,
  textarea,
  select {
    font-size: 1rem;
  } */

  input[type="text"],
  input[type="number"],
  textarea {
    font-size: 15px;
  }

  footer .footer-content {
    flex-direction: column;
    gap: 4rem;
  }

  footer .footer-content .footer_socials {
    width: 100%;
  }

  footer .footer_links .footer_link {
    gap: 1.4rem;
    width: 50%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }

  /* form input,
  form textarea {
    font-size: 1.6rem;
  } */

  section .headings p {
    font-size: 0.8rem;
  }

  section .headings h1 {
    font-size: 2rem;
  }

  .btn_2 {
    font-size: 0.8rem;
    padding: 0.6rem 2.2rem;
  }

  .btn_3 {
    display: inline-block;
    padding: 0.8rem 1.4rem;
  }

  header {
    width: 100%;
    max-width: 100vw;
    position: fixed;
    z-index: 1000;
  }

  header .navbar {
    width: 100%;
    position: relative;
  }

  #hero {
    padding-top: 8rem;
    height: auto;
  }

  #hero .nft_cards {
    width: 100%;
    height: 33rem;
    margin: auto;
  }

  #wallets .wallet_cards {
    gap: 0.6rem;
    width: 100%;
  }

  #wallets .wallet_cards .wallet {
    padding: 1rem;
    text-align: center;
    flex: 1 1 calc(33.33% - 1rem);
    max-width: calc(35% - 1rem);
  }

  #wallets .wallet img {
    width: 4rem;
    height: 4rem;
  }

  #wallets .wallet p {
    margin-top: 1.2rem;
    font-size: 0.6rem;
  }

  #how_it_works {
    padding: 4rem 0;
  }

  #how_it_works .headings h1 {
    font-size: 2rem;
  }

  #how_it_works .work_dir {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #how_it_works .work_dir .icon svg {
    width: 5rem;
    height: 5rem;
  }

  #how_it_works .work_dir .line svg {
    width: 4rem;
    height: 4rem;
  }

  #how_it_works .work_dir p {
    margin-top: 0.6rem;
    font-size: 0.6rem;
  }

  #collection_mobile .headings {
    padding: 0 4%;
  }

  .item-image {
    width: 16rem;
    height: 30vh;
  }

  .section_cards .cards {
    gap: 2rem;
  }

  .section_cards .cards .card {
    flex: calc(50% - 2rem);
  }

  .section_cards .cards .card .price_details .price p {
    font-size: 1rem;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .section_cards .cards .card .price_details .price span {
    font-size: 0.8rem;
    width: fit-content;
  }

  .section_cards .cards .card .price_details .price p svg {
    width: 1rem;
  }

  #influencers .cards .infl_profile p {
    font-size: .8rem;
  }

  #influencers .cards .infl_details .btn_3 {
    display: inline-block;
    padding: 0.2rem 1.2rem;
  }

  #influencers .cards .infl_profile svg {
    width: 1.2rem;
  }

  #subscribe .subscribe_content p {
    font-size: 1.8rem;
  }

  #subscribe form {
    width: 20.5rem;
    height: 4rem;
  }

  #subscribe form button {
    padding: 0.4rem;
  }

  #subscribe form button svg {
    width: 2rem;
    height: 2rem;
  }

  #user {
    margin-top: 5.6rem;
  }

  #user .top_header {
    height: 10rem;
    padding: 0 4% 1rem;
  }

  #user .top_header .upload_pic {
    position: absolute;
    bottom: -1rem;
    right: 1.4rem;
  }

  #user .top_header .upload_pic svg {
    width: 3rem;
  }

  #user .top_header .followers p {
    font-size: 0.8rem;
  }

  #user .top_header .user_profile {
    gap: 1.6rem;
    font-size: 1rem;
    bottom: -6rem;
  }

  #user .user_profile .user_img {
    width: 6rem;
    height: 6rem;
  }

  #user .user_info {
    margin-top: 18rem;
    gap: 2rem;
  }

  #user .user_info .header {
    gap: 2rem;
    font-size: 1rem;
  }

  #user .user_info form {
    gap: 2rem;
    font-size: 0.8rem;
  }

  #user form .form_group {
    flex-direction: column;
    gap: 2rem;
  }

  #user form .form_info {
    gap: 1rem;
  }

  #privacy img {
    height: 16rem;
  }

  #privacy .content h4 {
    font-size: 1.2rem;
  }

  #privacy .content p {
    font-size: 0.8rem;
    line-height: 1.6rem;
  }

  #privacy .content hr {
    margin-top: 1rem;
  }

  #cardContainer {
    padding-top: 0;
  }

  #create form .form_info input,
  #create form .form_info textarea {
    font-size: 1.6rem;
  }

  #create form .form_group {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
  }

  #create form button,
  #cardContainer button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.6rem 2rem;
    z-index: 999;
  }
}
